.advantages
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6c878e+0,17758f+100 */
  background: rgb(108,135,142); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(108,135,142,1) 0%, rgba(23,117,143,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(108,135,142,1) 0%,rgba(23,117,143,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(108,135,142,1) 0%,rgba(23,117,143,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c878e', endColorstr='#17758f',GradientType=1 ); /* IE6-9 */

  overflow: hidden
  padding-right: 5px

.bg-logo svg
  width: 800px
  height: 800px
  fill: $white
  position: absolute
  top: 10%
  left: 20%
  opacity: 0.2

.slide__title
  font-family: 'Jura', sans-serif
  font-size: 4em
  padding-left: 1em
  text-transform: uppercase
  display: none
  @media screen and (max-width: 1200px)
    font-size: 2em
    padding-left: 0.5em

.slide__subtitle
  font-family: 'Jura', sans-serif
  font-size: 1em
  text-transform: uppercase
  display: none
  padding-left: 0.5em
  @media screen and (max-width: 1200px)
    font-size: 0.5em
    padding-left: 0.2em

@media all and (max-width: 767px)
  .fullpage-wrapper
    overflow: hidden
