/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#17758f+21,ffffff+100 */
.order
  
  background: rgb(23,117,143) /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(23,117,143,1) 21%, rgba(255,255,255,1) 100%) /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(23,117,143,1) 21%,rgba(255,255,255,1) 100%) /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(23,117,143,1) 21%,rgba(255,255,255,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17758f', endColorstr='#ffffff',GradientType=0 ) /* IE6-9 */

  overflow: hidden
  padding: 0 5px

.order__flex
  display: flex
  flex-direction: row
  flex-wrap: wrap
  height: 90%
  justify-content: space-around
  @include phones
    height: 100%

.order__title
  font-size: 1.17rem
  font-weight: normal

.order-form
  display: flex
  flex-direction: column
  flex-basis: 320px
  font-size: 1.2em
  textarea, input, .nice-select
    margin: 5px 5px 5px 0
  label
    display: inline

.contacts
  padding: 0 20px 20px
  h3
    font-weight: normal
  p
  @include phones
    padding: 0

@media screen and (max-width: 1200px)
  .contacts h3      
    text-align: center
  p
    text-align: center

.contacts__item
  display: table
  font-size: 1.5em
  margin: 1em 0
  color: darken($text-color, 10%)
  transition: color 0.5s

  @include phones
    font-size: 1em

  .contacts__ico
    fill: #ffffff
    vertical-align: middle
  span
    margin-left: 15px
    vertical-align: middle
    color: inherit


.contacts__item:hover
  color: #ffffff
  .contacts__ico
    fill: darken($text-color, 10%)



input[type='number']
  width: 5em

textarea, .custom-input
  background-color: #fff
  border-radius: 5px
  border: solid 1px #e8e8e8
  box-sizing: border-box
  font-size: 14px
  font-weight: normal
  min-height: 32px
  line-height: 30px
  outline: none
  padding-left: 18px
  position: relative
  text-align: left !important


input[type="file"]
  border: 1px solid white
  border-radius: 5px
  font-size: 0.8em
  cursor: pointer

input[type='submit']
  min-height: 32px

.info
  margin-top: 1em
