<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Дизайн-студия МАТРИЦА</title>
	<link rel="stylesheet" href="css/vendor.min.css">
	<link rel="stylesheet" href="css/main.min.css">
	<link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<defs>
	  <style type="text/css">
	   <![CDATA[
		@font-face {
			font-family: 'Jura', sans-serif;
		}
	   ]]>
	  </style>
	</defs>
    <script src="scripts\modernizr.min.js"></script>
</head>
<body>
	@@include('blocks/b-header.html')
	<div id="fullpage">
		@@include('blocks/b-section1.html')
		@@include('blocks/b-section2.html')
		@@include('blocks/b-section3.html')
		@@include('blocks/b-section4.html')
		@@include('blocks/b-section5.html')
		@@include('blocks/b-section6.html')
		@@include('blocks/b-footer.html')
	</div><!-- fullpage -->
	
	<script src="scripts/vendor.min.js"></script>
	<script src="scripts/transformicons.min.js"></script>
	<script src="scripts/svg-sprite.min.js"></script>
	<script src="scripts/myscripts.min.js"></script>

	<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
</body>
</html>