/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-work1 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 80px;
  height: 80px;
}
.icon-work2 {
  background-image: url(sprite.png);
  background-position: -80px 0px;
  width: 80px;
  height: 80px;
}
.icon-work3 {
  background-image: url(sprite.png);
  background-position: -160px -70px;
  width: 80px;
  height: 67px;
}
.icon-work4 {
  background-image: url(sprite.png);
  background-position: 0px -80px;
  width: 80px;
  height: 80px;
}
.icon-work5 {
  background-image: url(sprite.png);
  background-position: -80px -80px;
  width: 80px;
  height: 80px;
}
.icon-work6 {
  background-image: url(sprite.png);
  background-position: -160px 0px;
  width: 80px;
  height: 70px;
}
