/* colors */

$white: #ffffff
$text-color: #5e5d5d
$brand-blue: #17758F
$brand-orange: #E5861B

// @import 'sprite'
@import 'mixins'

/* fonts */

$base-font: 16px

@font-face
    font-family: "Russo One";
    src: url("../fonts/RussoOne.ttf") format("truetype")

@font-face
  font-family: "GothamPro"
  src: url("../fonts/GothamPro-Medium.ttf") format("truetype")


/* main */

body
  font-family: 'GothamPro', sans-serif
  font-size: $base-font
  color: $text-color

a
  text-decoration: none
  color: $white

h1, h2
  font-family: 'GothamPro', sans-serif
  font-size: 1.2rem!important
  margin: 0!important
  font-weight: bold
  @include phones
    font-size: 1rem!important

/* pages */
@import 'blocks/header'
@import 'blocks/main'
@import 'blocks/works'
@import 'blocks/price'
@import 'blocks/tech'
@import 'blocks/order'
