section.section.advantages#advantagesPage
  .bg-logo
      svg(width='30px' height='30px').header__btns-ico
        use(xlink:href='images/SVG.svg#logo_154x73')
  .slide(data-anchor="slide1")
    .slide__title.title1 верстаю сайты по дизайн-макету
    .slide__title.title1 создаю новые сайты 
    .slide__title.title1 дорабатываю текущие проекты
  .slide(data-anchor="slide2")
    .slide__title.title2 внимательное изучу ваши портебности
    .slide__title.title2 помогу с подготовкой
    .slide__title.title2 информирую о ходе работы
  .slide(data-anchor="slide3")
    .slide__title.title3 гарантия низкой цены
    .slide__title.title3 нет издержек веб-студии
    .slide__title.title3 расчет цены исходя из реализованных функций
  .arrow-down
    img(src='/images/next.svg' alt="arrow-down")
