section.section.advantages#advantagesPage
  .bg-logo
      svg(width='30px' height='30px').header__btns-ico
        use(xlink:href='images/SVG.svg#logo_154x73')
  .slide(data-anchor="slide1")
    .slide__title.title1 прозрачно
    .slide__subtitle.title1 прозрачная схема взаимодействия на основе инструкций
  .slide(data-anchor="slide2")
    .slide__title.title2 помощь
    .slide__subtitle.title2 помощь в полготовке сайта
  .slide(data-anchor="slide3")
    .slide__title.title3 без пееплат
    .slide__subtitle.title3 нет издержек веб-студии
  .slide(data-anchor="slide4")
    .slide__title.title4 экономно
    .slide__subtitle.title4 цена, разбитая на части для оптимизации бюждета
  .slide(data-anchor="slide5")
    .slide__title.title5 оптимально
    .slide__subtitle.title5 возможжность поэтапного создания проекта
