<div class="b-footer section fp-auto-height" id="section-footer">
	<div class="b-footer-badge__outer"><!-- http://csshexagon.com -->
		<div class="b-footer-badge__inner"><span>&and;</span></div>
	</div>
	<div class="footer-wrapper">
		<div class="b-contacts">
			<p class="b-contacts__title">О нас</p>
			<div class="b-contacts__text">Nulla interdum lectus eu justo pharetra, cursus cursus ligula vehicula. Cras rhoncus sed eros vel cursus. Cras non mattis tellus. Sed auctor neque at leo egestas ultrices. Donec facilisis leo metus, sollicitudin congue massa convallis et. Nullam accumsan lorem vitae felis commodo, eget ultricies tellus placerat.</div>
			<p class="b-contacts__item email"><span>matrix@gmail.com</span></p>
			<p class="b-contacts__item phone"><span>+7-612-333-0211</span></p>
			<p class="b-contacts__item location"><span>Невский пр. д.1</span></p>
		</div>
		<div class="b-recent">
			<p class="b-recent__title">Недавние новости</p>
			<div class="b-recent-block">
				<div class="b-recent-block__image imag1">
                    <span class="b-recent-block__link" ><svg width="15" height="18"><use class="glass-ico" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#magnifying-glass"></use></svg></span>
                </div>
				<div class="b-recent-block__text">Nulla interdum lectus eu justo pharetra, cursus cursus ligula vehicula</div>
				<div class="b-recent-block__date">матрица / 01 апр 2016</div>
			</div>
			<div class="b-recent-block">
				<div class="b-recent-block__image imag2">
                    <span class="b-recent-block__link" ><svg width="15" height="18"><use class="glass-ico" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#magnifying-glass"></use></svg></span>
                </div>
				<div class="b-recent-block__text">Nulla interdum lectus eu justo pharetra, cursus cursus ligula vehicula</div>
				<div class="b-recent-block__date">матрица / 01 апр 2016</div>
			</div>
			<div class="b-recent-block">
				<div class="b-recent-block__image imag3">
                    <span class="b-recent-block__link" ><svg width="15" height="18"><use class="glass-ico" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#magnifying-glass"></use></svg></span>
                </div>
				<div class="b-recent-block__text">Nulla interdum lectus eu justo pharetra, cursus cursus ligula vehicula</div>
				<div class="b-recent-block__date">матрица / 01 апр 2016</div>
			</div>
		</div>
		<div class="b-recent-works">
			<p class="b-recent-works__title">Недавние работы</p>
			<div class="b-recent-works__sprite"></div>
			<div class="b-recent-works__more"><a href="#">Смотреть &rArr;</a></div>
		</div>
		<div class="b-socials">
			<p class="b-socials__title">Всегда на связи</p>
			<div class="b-socials__call">Ваш адрес для подписки</div>
			<ul class="b-socials__icons">
                <li class="b-socials__icon"><a href="#"><svg width="40" height="45"><use id="social-tw" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
                <li class="b-socials__icon"><a href="#"><svg width="40" height="45"><use id="social-fb" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
                <li class="b-socials__icon"><a href="#"><svg width="40" height="45"><use id="social-ld" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></a></li>
			</ul>
		</div>
	</div><!-- footer-wrapper -->	
	<div class="b-footer-bottom">
		<ul class="b-footer__nav">
			<li class="b-footer__nav-item">
				<a class="b-footer__nav-link" href="#">Главная</a>
			</li>
			<li class="b-footer__nav-item">
				<a class="b-footer__nav-link" href="#">О нас</a>
			</li>
			<li class="b-footer__nav-item">
				<a class="b-footer__nav-link" href="#">Портфолио</a>
			</li>	
			<li class="b-footer__nav-item">
				<a class="b-footer__nav-link" href="#">Блог</a>
			</li>
			<li class="b-footer__nav-item">
				<a class="b-footer__nav-link" href="#">Контакты</a>
			</li>		
		</ul>
		<p class="b-footer__copy">&copy; 2015 матрица | дизайн Антон Антонов</p>
	</div><!-- b-footer-bottom -->
</div>