<div class="b-header">
	<a class="b-header__logo" href="index.html">
		<svg width="130px" height="2em"><!-- http://vanseodesign.com/web-design/svg-text-baseline-alignment/  -->
			<text class="logo-style" x="20" y="28">MAT-RIX</text>
		</svg>
	</a>
    <ul class="b-topmenu" id="menu">
        <li class="b-topmenu__item" data-menuanchor="sec1"><a href="#section1">в начало</a></li>
        <li class="b-topmenu__item" data-menuanchor="sec2"><a href="#section2">о компании</a></li>
        <li class="b-topmenu__item" data-menuanchor="sec3"><a href="#section3">портфолио</a></li>
        <li class="b-topmenu__item" data-menuanchor="sec4"><a href="#section4">блог</a></li>
        <li class="b-topmenu__item" data-menuanchor="sec5"><a href="#section5">команда</a></li>
        <li class="b-topmenu__item" data-menuanchor="sec6"><a href="#section6">расценки</a></li>
        <li class="b-topmenu__item" data-menuanchor="sec-footer"><a href="#section-footer">контакты</a></li>
    </ul>
	<div class="b-topmenu__mobile">
		<button type="button" class="tcon tcon-menu--xbutterfly" aria-label="toggle menu">
		  <span class="tcon-menu__lines" aria-hidden="true"></span>
		  <span class="tcon-visuallyhidden">toggle menu</span>
		</button>
	</div>
 	<div class="b-header-elements"> 
		<div class="b-header-elements__input">
			<input type="text"  name="name" placeholder="Поиск" /> 
		</div>
		<div class="b-header-elements__search">
			<button type="button" class="tcon tcon-search--xcross" aria-label="toggle search">
				<span class="tcon-search__item" aria-hidden="true"></span>
				<span class="tcon-visuallyhidden">toggle search</span>
			</button>
		</div><!-- b-header-elements search -->	
		<div class="b-header-elements__basket">
			<svg width="19" height="19" xmlns:xlink="http://www.w3.org/1999/xlink"><use id="shopping-cart-svg" xlink:href="#shopping-cart"></use></svg>
		</div><!-- b-header-elements basket -->
	</div><!-- b-header-elements -->
</div>
<ul class="b-dropdown-menu" id="menu">
    <li class="b-dropdown-menu__item" data-menuanchor="sec1"><a href="#section1" class="b-dropdown-menu__link">в начало</a></li>
    <li class="b-dropdown-menu__item" data-menuanchor="sec2"><a href="#section2" class="b-dropdown-menu__link">о компании</a></li>
    <li class="b-dropdown-menu__item" data-menuanchor="sec3"><a href="#section3" class="b-dropdown-menu__link">портфолио</a></li>
    <li class="b-dropdown-menu__item" data-menuanchor="sec4"><a href="#section4" class="b-dropdown-menu__link">блог</a></li>
    <li class="b-dropdown-menu__item" data-menuanchor="sec5"><a href="#section5" class="b-dropdown-menu__link">команда</a></li>
    <li class="b-dropdown-menu__item" data-menuanchor="sec6"><a href="#section6" class="b-dropdown-menu__link">расценки</a></li>
    <li class="b-dropdown-menu__item" data-menuanchor="sec-footer"><a href="#section-footer" class="b-dropdown-menu__link">контакты</a></li>
</ul>
