<div class="section b-section3" id="section3">
	<div class="section__title"><span>Последние работы</span></div>
	<div class="b-gallery">
		<ul class="b-gallery__nav" id="filter-button-group">
			<li class="b-gallery__btn" data-filter="">Все</li>
			<li class="b-gallery__btn" data-filter=".animation">Анимация</li>
			<li class="b-gallery__btn" data-filter=".appdesign">Приложения</li>
			<li class="b-gallery__btn" data-filter=".photo">Фотография</li>			
			<li class="b-gallery__btn" data-filter=".web">ВЕБ-дизайн</li>
		</ul><!-- b-gallery__nav -->
		<div class="b-gallery__grid centered">
			<div class="b-gallery__item animation" data-category="animation"><img src="../../images/work1.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item appdesign" data-category="appdesign"><img src="../../images/work2.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item photo" data-category="photo"><img src="../../images/work3.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item web"><img src="../../images/work4.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item animation" data-category="animation"><img src="../../images/work5.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item animation" data-category="animation"><img src="../../images/work6.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item animation" data-category="animation"><img src="../../images/work7.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item appdesign" data-category="appdesign"><img src="../../images/work8.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item appdesign" data-category="appdesign"><img src="../../images/work9.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item appdesign" data-category="appdesign"><img src="../../images/work10.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item photo" data-category="photo"><img src="../../images/work11.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item photo" data-category="photo"><img src="../../images/work12.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item photo" data-category="photo"><img src="../../images/work13.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item web"><img src="../../images/work14.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item web"><img src="../../images/work15.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item web"><img src="../../images/work16.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item animation"><img src="../../images/work17.jpg" alt="" width="200" height="200" border="0" /></div>
			<div class="b-gallery__item appdesign"><img src="../../images/work18.jpg" alt="" width="200" height="200" border="0" /></div>
		</div><!-- b-gallery__grid -->
	</div><!-- b-gallery-->
</div><!-- b-section3 -->