<div class="section" id="section2">
	<div class="section-centered">
		<div class="section__title"><span>О компании</span></div>
		<div class="about__photo"><img src="../../images/about.jpg" alt="" width="250" height="232" /></div>
		<div class="b-about">
			<p class="b-about__title">Здравствуйте, мы - творческая организация</p>
			<div class="b-about__line"></div>
			<div class="b-about__text">Integer eget ornare massa. Suspendisse bibendum ex velit, ut venenatis ex hendrerit consequat. Ut ornare dignissim sagittis. Nulla ac nisi eget augue efficitur convallis.Integer eget ornare massa. Suspendisse bibendum ex velit, ut venenatis ex hendrerit consequat. Ut ornare dignissim sagittis. Nulla ac nisi eget augue efficitur convallis.</div>
			<div class="b-about__list">
				<p class="about__item"><b>Наша миссия</b> - предоставление уникальности и качества</p>
				<p class="about__item"><b>Умения</b> - предоставление быстрых и отличных результатов</p>
				<p class="about__item"><b>Клиенты</b> - удовлетовренные клиенты благодаря нашим умениям</p>
			</div>
			<div class="b-about__btn b-btn"><a href="#section3"><svg width="13" height="13"><use id="folder-svg" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#folder"></use></svg> Смотреть наши работы</a></div>
		</div><!-- b-about -->
		<div class="b-activities">
			<div class="b-activities__block">
					<div class="b-activities__icon"><svg class="svg-icon"><use class="svg-ico" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#photo-camera"></use></svg></div>
					<p class="b-activities__caption">Фотография</p>
					<p class="b-activities__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque justo in blandit ultricies.</p>
			</div>
			<div class="b-activities__block">
					<div class="b-activities__icon"><svg class="svg-icon"><use class="svg-ico" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#flatscreen-tv"></use></svg></div>
					<p class="b-activities__caption">Веб-дизайн</p>
					<p class="b-activities__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque justo in blandit ultricies.</p>
			</div>
			<div class="b-activities__block">
					<div class="b-activities__icon"><svg class="svg-icon"><use class="svg-ico" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dialogue-balloon"></use></svg></div>
					<p class="b-activities__caption">Маркетинг</p>
					<p class="b-activities__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque justo in blandit ultricies. </p>
			</div>
		</div><!-- b-activities -->
	</div><!-- section-centered -->
</div><!-- section2 -->