<div class="section" id="section1">
	<div class="b-section__bg">
		<div class="slide">
			<div class="b-slide-content">
				<h1 class="b-slide-content__title title1">ДИЗАЙН СТУДИЯ</h1>
				<div class="content__line"></div>
				<div class="b-slide-content__text">Все это станет возможным, если вы закажете разработку сайта в нашей компании. В зависимости от масштабов вашей компании и имеющихся задач мы разработаем для вас интернет-магазин, промо или корпоративный сайт, landing page (посадочную страницу) или портал.</div>
				<div class="b-slide-content__btn b-btn"><a href="#">Читать далее</a></div>
			</div><!-- b-slide-content -->
		</div><!--slide-->
		<div class="slide">
			<div class="b-slide-content">
				<h1 class="b-slide-content__title title2">создание <br>интернет-магазина</h1>
				<div class="content__line"></div>
				<div class="b-slide-content__text">Создание сайта – процесс, состоящий из нескольких этапов. Во-первых, нужно определиться с целями, которые этот сайт будет выполнять. Очевидно, что интернет-магазин будет радикальным образом отличаться от обычного сайта-визитки какой-нибудь фирмы, да и цена будет другой.</div>
				<div class="b-slide-content__btn b-btn">Читать далее</div>
			</div><!-- b-slide-content -->
		</div><!-- slide -->
	</div><!-- b-section1__bg -->
</div><!-- section -->