<div class="section section4" id="section4">
	<div class="section__title"><span>Наши новости</span></div>
	<div class="b-news">
		<figure class="b-news__card">
			<img src="../../images/news1.jpg" alt="" width="200" height="200" border="0" />
			<figcaption class="b-news__caption"><a>Читать далее...</a></figcaption>		
			<div class="b-news__title">Наши встречи<span></span></div>
			<p class="b-news__date">матрица / 01 янв 2016</p>
			<p class="b-news__text">Nunc quis augue lacus. In placerat est efficitur ipsum pellentesque, eget iaculis felis molestie. Ut ac nulla faucibus, tristique odio quis, posuere libero. Morbi molestie dui sit amet leo consectetur, quis lobortis turpis suscipit. Sed sollicitudin posuere nibh, congue condimentum ex laoreet sed. Sed accumsan porta pretium. Quisque fermentum pulvinar est sit amet faucibus.</p>
		</figure>
		<figure class="b-news__card">
			<img src="../../images/news2.jpg" alt="" width="200" height="200" border="0" />
			<figcaption class="b-news__caption"><a>Читать далее...</a></figcaption>					
			<div class="b-news__title">Взаиморасчеты<span></span></div>
			<p class="b-news__date">матрица / 01 апр 2016</p>
			<p class="b-news__text">Nunc quis augue lacus. In placerat est efficitur ipsum pellentesque, eget iaculis felis molestie. Ut ac nulla faucibus, tristique odio quis, posuere libero. Morbi molestie dui sit amet leo consectetur, quis lobortis turpis suscipit. Sed sollicitudin posuere nibh, congue condimentum ex laoreet sed. Sed accumsan porta pretium.</p>
		</figure>	
		<figure class="b-news__card">
			<img src="../../images/news3.jpg" alt="" width="200" height="200" border="0" />
			<figcaption class="b-news__caption"><a>Читать далее...</a></figcaption>		
			<div class="b-news__title">Наши планы<span></span></div>
			<p class="b-news__date">матрица / 01 авг 2016</p>
			<p class="b-news__text">Nunc quis augue lacus. In placerat est efficitur ipsum pellentesque, eget iaculis felis molestie. Ut ac nulla faucibus, tristique odio quis, posuere libero. Morbi molestie dui sit amet leo consectetur, quis lobortis turpis suscipit. Sed sollicitudin posuere nibh, congue condimentum ex laoreet sed. Sed accumsan porta pretium. Quisque fermentum pulvinar est sit amet faucibus.</p>
		</figure>			
	</div><!-- b-news -->
	<div class="b-quote">
		<p class="b-quote__text">Sed consequat facilisis velit eu elementum. Sed sollicitudin non lorem quis tincidunt. Nulla et hendrerit quam. Fusce eget felis vel mi bibendum ultricies. Curabitur ut lacinia quam, a eleifend urna. Aliquam a tempus elit, sed aliquam quam. Pellentesque sit amet lectus rutrum, laoreet ante sit amet, suscipit diam. Aenean ipsum leo, ultricies a facilisis et, ultrices sed ligula. Suspendisse non elit euismod, efficitur nisl vitae, hendrerit augue. Nulla tempor justo non nisl varius, eu feugiat est varius. Vestibulum ac dui sed augue luctus dapibus. Integer luctus mauris sit amet nunc feugiat porttitor. Phasellus laoreet justo in turpis congue pulvinar. Nam in cursus sapien, ut rhoncus ipsum. Duis vel turpis eget enim dignissim bibendum.</p>
		<p class="b-quote__assign">Елена Иванова<span>Графический редактор</span></p>
	</div>
</div>