<div class="section" id="section6">
	<div class="section__title"><span>Таблица цен</span></div>
	<div class="b-pricing">
        <div class="b-pricing__card-wrapper">
            <div class="b-pricing__card standart">
                <div class="b-pricing__card__title"><span>стандарт</span></div>
                <div class="b-pricing__card__price"><sup>$ </sup><span>55</span>/мес.</div>
                <div class="content__line"></div>
                <div class="b-pricing__card__list">
                    <p class="b-pricing__card__item">Лучшие продукты</p>
                    <p class="b-pricing__card__item">Мобильный сайт</p>
                    <p class="b-pricing__card__item">Поддержка пользователей</p>
                    <p class="b-pricing__card__item">Домен в подарок</p>
                    <p class="b-pricing__card__item">Почтовый ящик</p>
                </div>
                <div class="b-pricing__card__btn"><a href="#"></a>Купить</div>
            </div>
        </div>
        <div class="b-pricing__card-wrapper">
            <div class="b-pricing__card premium">
                <div class="b-pricing__card__title"><span>премиум</span></div>
                <div class="b-pricing__card__price"><sup>$ </sup><span>95</span>/мес.</div>
                <div class="content__line"></div>
                <div class="b-pricing__card__list">
                    <p class="b-pricing__card__item">Лучшие продукты</p>
                    <p class="b-pricing__card__item">Мобильный сайт</p>
                    <p class="b-pricing__card__item">Поддержка пользователей</p>
                    <p class="b-pricing__card__item">Домен в подарок</p>
                    <p class="b-pricing__card__item">Почтовый ящик</p>
                <div class="b-pricing__card__btn">Купить</div>
                </div>
            </div>
        </div>
        <div class="b-pricing__card-wrapper">
            <div class="b-pricing__card ultimate">
            <div class="b-pricing__card__title"><span>супер премиум</span></div>
            <div class="b-pricing__card__price"><sup>$ </sup><span>160</span>/мес.</div>
            <div class="content__line"></div>
            <div class="b-pricing__card__list">
                <p class="b-pricing__card__item">Лучшие продукты</p>
                <p class="b-pricing__card__item">Мобильный сайт</p>
                <p class="b-pricing__card__item">Поддержка пользователей</p>
                <p class="b-pricing__card__item">Домен в подарок</p>
                <p class="b-pricing__card__item">Почтовый ящик</p>
            </div>
            <div class="b-pricing__card__btn">Купить</div>
            </div>
		</div>
	</div><!-- b-pricing -->
	<div class="clearfix"></div>
</div>