<div class="b-section5 section" id="section5">
	<div class="section-centered">
		<div class="section__title"><span>Наша команда</span></div>
		<div class="b-team">
			<figure class="b-team__card">
			<img src="../../images/stuff1.jpg" alt="" width="200" height="200" border="0" />
			<figcaption class="b-team__caption">
				<a class="b-team__socials" href="#"><svg width="20" height="20"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a>
				<a class="b-team__socials" href="#"><svg width="20" height="20"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a>
				<a class="b-team__socials" href="#"><svg width="20" height="20"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></a>
			</figcaption>
			<div class="b-team__name">Николай Ярцев</div>
			<p class="b-team__position">грузчик</p>
			<p class="b-team__text">Nunc quis augue lacus. In placerat est efficitur ipsum pellentesque, eget iaculis felis molestie. Ut ac nulla faucibus, tristique odio quis, posuere libero. Morbi molestie dui sit amet leo consectetur, quis lobortis turpis suscipit.</p>
			</figure>
			<figure class="b-team__card">
			<img src="../../images/stuff2.jpg" alt="" width="200" height="200" border="0" />
                <figcaption class="b-team__caption">
                    <a class="b-team__socials" href="#"><svg width="20" height="20"><use class="social-small-tw" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a>
                    <a class="b-team__socials" href="#"><svg width="20" height="20"><use class="social-small-fb" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a>
                    <a class="b-team__socials" href="#"><svg width="20" height="20"><use class="social-small-ld" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></a>
                </figcaption>
			<div class="b-team__name">Памела Ивановна</div>
			<p class="b-team__position">уборщица</p>
			<p class="b-team__text">Nunc quis augue lacus. In placerat est efficitur ipsum pellentesque, eget iaculis felis molestie. Ut ac nulla faucibus, tristique odio quis, posuere libero. Morbi molestie dui sit amet leo consectetur, quis lobortis turpis suscipit.</p>
			</figure>
			<figure class="b-team__card">
			<img src="../../images/stuff3.jpg" alt="" width="200" height="200" border="0" />
                <figcaption class="b-team__caption">
                    <a class="b-team__socials" href="#"><svg width="20" height="20"><use class="social-small-tw" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a>
                    <a class="b-team__socials" href="#"><svg width="20" height="20"><use class="social-small-fb" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a>
                    <a class="b-team__socials" href="#"><svg width="20" height="20"><use class="social-small-ld" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></a>
                </figcaption>
			<div class="b-team__name">Дмитрий Суев</div>
			<p class="b-team__position">менеджер</p>
			<p class="b-team__text">Nunc quis augue lacus. In placerat est efficitur ipsum pellentesque, eget iaculis felis molestie. Ut ac nulla faucibus, tristique odio quis, posuere libero. Morbi molestie dui sit amet leo consectetur, quis lobortis turpis suscipit.</p>
			</figure>
			<figure class="b-team__card">
			<img src="../../images/stuff4.jpg" alt="" width="200" height="200" border="0" />
                <figcaption class="b-team__caption">
                    <a class="b-team__socials" href="#"><svg width="20" height="20"><use class="social-small-tw" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a>
                    <a class="b-team__socials" href="#"><svg width="20" height="20"><use class="social-small-fb" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a>
                    <a class="b-team__socials" href="#"><svg width="20" height="20"><use class="social-small-ld" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></a>
                </figcaption>
			<div class="b-team__name">Катя Иванова</div>
			<p class="b-team__position">секретарь</p>
			<p class="b-team__text">Nunc quis augue lacus. In placerat est efficitur ipsum pellentesque, eget iaculis felis molestie. Ut ac nulla faucibus, tristique odio quis, posuere libero. Morbi molestie dui sit amet leo consectetur, quis lobortis turpis suscipit.</p>
			</figure>
		</div>
	</div><!--section-centered-->
	<div class="b-brands"></div>
</div>