section.section.main#main
  .bg-logo
      svg(width='30px' height='30px').header__btns-ico
        use(xlink:href='images/SVG.svg#logo_154x73')
  .slide(data-anchor="slide1")
    .slide__title.title1
      | верстка сайтов
      br
      | для вашего бизнеса
  .slide(data-anchor="slide2")
    .slide__title.title2
      | предоставляю услуги
      br
      | верстки и разработки сайтов
  .slide(data-anchor="slide3")
    .slide__title.title3
      | сайты отлично выглядят
      br
      | на любом устройстве и компьютере
  .slide(data-anchor="slide4")
    .slide__title.title4
      | качественный код позволит без труда
      br
      | развивать ваш проект разработчиками
  .slide(data-anchor="slide5")
    .slide__title.title5
      | работа будет выполнена в срок
      br
      | и оправдает Ваши ожидания
