section.section.order#orderPage
  .order__flex
    form(method="post" enctype="multipart/form-data")#form.order-form
      h3.order__title Оставить заявку
      label(for="name") Введите ваше имя*
      input(type="text" name='name' id="name" required).order-form__input.custom-input
      span
      label(for="pagn") Выберите ваш email*
      input(type="email" name='email' id="email" required).order-form__input.custom-input
      label(for="pagn") Укажите тематику сайта
      input(type="text" name='theme' id="theme").order-form__input.custom-input
      label(for="type") Выберите тип сайта
      select.small(name='type[]' id="type").order-form__input
        option Простой сайт-визитка
        option Лендинг
        option Сайт-блог
        option Корпоративный сайт
        option Интернет-магазин
      label(for="usluga") Выберите требуемый вид услуги
      select.small(name='usluga[]' id="usluga").order-form__input
        option Верстка сайта на базе макета
        option Комплесная разработка сайта
        option Другая услуга (укажите в комментарии)
      label(for="ishodn") Наличие исходников дизайна
        input(type="hidden" name="ishodn" value="0")
        input(type="checkbox" name='ishodn' id="ishodn" value="1").order-form__input
      label(for="ishodn") Наличие у вас текстов
        input(type="hidden" name="texts" value="0")
        input(type="checkbox" name='texts' id="texts" value="1").order-form__input
      label(for="tz") Наличие технического задания
        input(type="hidden" name="tz" value="0")
        input(type="checkbox" name='tz' id="tz" value="1").order-form__input
      label(for="comment") Ваши комментарии
      textarea(name="comment" id="comment" columns="2")
      input(type="file" name="userfile[]" multiple id="userfile" accept="application/*, image/*")
      input(type="submit" value="Отправить")
      span.info


    .contacts
      h3 Контакты
      p веб-мастер. Алексей Исаев


      a(href="tel:+79522326240").contacts__item
        svg(width='30px' height='30px').contacts__ico.contacts__ico--viber
          use(xlink:href='images/SVG.svg#viber')
        span.contacts__name Позвонить: +7-9522326240

      a(href="https://t.me/ISAEV_ALEKSEY").contacts__item
        svg(width='30px' height='30px').contacts__ico.contacts__ico--skype
          use(xlink:href='images/SVG.svg#telegram')
        span.contacts__name Написать в Telegram: sitedevSpbRu

      a(href="whatsapp://send?phone=+79522326240").contacts__item
        svg(width='30px' height='30px').contacts__ico.contacts__ico--whatsapp
          use(xlink:href='images/SVG.svg#whatsapp')
        span.contacts__name Написать в WhatsApp: +7-9522326240


      a(href="mailto:anxieter@yandex.ru").contacts__item
        svg(width='30px' height='30px').contacts__ico.contacts__ico--mail
          use(xlink:href='images/SVG.svg#mail')
        span.contacts__name Почта: mail@sitedev.spb.ru


