section.section.price#price
  .price-table
    .price-table__nav
      .price-table__item.active
        .price-table__title
          svg(width='30px' height='30px')
            use(xlink:href='images/SVG.svg#psd')
          p Верстка страниц сайта по вашему дизайн-макету
      .price-table__item
        .price-table__title
          svg(width='30px' height='30px')
            use(xlink:href='images/SVG.svg#cms')
          p Верстка страниц шаблона под вашу CMS
      .price-table__item
        .price-table__title
          svg(width='30px' height='30px')
            use(xlink:href='images/SVG.svg#api')
          p Разработка и верстка сайта "под ключ"
    .price-table__contents

      .price-table__block
        p Подходит для сайтов-портфолио и сайтов-визиток, лендинг-страниц, простых сайтов компаний
        ul.price-table__list
          li Стоимость верстки главной страницы
            span  - 2000 руб.
          li Стоимость верстки одной внутренней страницы
           span  - 500 руб.
          li Верстка мобильной версии (для планшетов и телефонов)
            span  - +800 руб.
          li Подключение формы обратной связи
            span  - 300 руб.
          li Подключение и настройка модулей интерактивных элементов
            ul.price-table__inner-list
              li параллакс
                span  - 1000 руб.
              li слайдер
                span  - 300 руб.
              li всплывающие, модальные окна
                span  - 300 руб.
              li карусель, фотогалерея
                span  - 300 руб.
        p Для лендинг страниц основная цена ограничена пятью страницами контента
        p Сроки выполнения проекта зависят от конкретного проекта, верстка главной страницы - не более 2 дней.

      .price-table__block
        p CMS - система управления сайтом, позволяющая самостоятельно наполнять, редактировать контент
        ul.price-table__list
          li Подходит для корпоративных сайтов, сайтов-блогов, новостых сайтов, интернет-магазинов.
          li Работаю только с бесплатыми шаблонами
            span  - Wordpress, Joomla, OpenCart
          li Стоимость до 4 страниц (пример - число страниц текущего сайта)
            span  - 7000 руб.
        p Сроки выполнения проекта - после оценки объема и сложности

      .price-table__block
        p Включает:
        ul.price-table__inner-list
          li Подготовка технического задания на основе брифа, заполненного клиентом и обсуждение проекта
          li Создание макета страниц опытным дизайнером
          li Верстка страниц сайта
          li Программирование интерактивных элементов, скриптов и форм
          li Стоимость
            span  - от 20000 руб.
        p Сроки выполнения проекта - после оценки объема и сложности
        p В подарок!!! Базовая SEO-оптимизация + Настройка счетчиков посещений


