section.section.price#pricePage
  .price-table
    .price-table__nav
      .price-table__item.active
        .price-table__title
          svg(width='30px' height='30px')
            use(xlink:href='images/SVG.svg#psd')
          h1 Профессиональная верстка сайта
      .price-table__item
        .price-table__title
          svg(width='30px' height='30px')
            use(xlink:href='images/SVG.svg#cms')
          h2 Комплексная разработка сайта
      .price-table__item
        .price-table__title
          svg(width='30px' height='30px')
            use(xlink:href='images/SVG.svg#api')
          h2 Дополнительные услуги
    .price-table__contents

      .price-table__block
        p Подходит для сайтов-портфолио, сайтов-визиток,
          a(target="blank" href="https://ru.wikipedia.org/wiki/%D0%A6%D0%B5%D0%BB%D0%B5%D0%B2%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0").underlined  лендингов,
          |  простых сайтов компаний.
        br
        div(style="color:#444444;font-weight:bold") ЕСЛИ У ВАС НЕТ МАКЕТА
        ul.price-table__variants Варианты:
          li помощь с заказом PSD макета у веб-дизайнера. На основе ваших пожелайний по дизайну и контента. Позволяет создать уникальный сайт.
          li приобретение готового шаблона на стоковых сайтах, таких как например
            br
            a(target='blank' href='https://www.templatemonster.com/psd-templates.php').underlined Templatemonster
            br
            a(target='blank' href='https://themeforest.net/category/psd-templates').underlined  Themeforest
        p Со своей стороны окажу помощь в приобретении макета. Второй подход не гарантирует уникальность сайта.
        hr
        div(style="color:#444444;font-weight:bold") ОРИЕНТИРОВОЧНЫЕ ЦЕНЫ 
        br
        ul.price-table__list
          li -- Верстка главной страницы
            span  - 2500 руб.
          li -- Верстка одной внутренней страницы
           span  - 1000 руб.
          li -- Верстка мобильной версии (для планшетов и телефонов)
            span  - +800 руб.
          li -- Подключение формы обратной связи
            span  - +300 руб.
          li -- Подключение и настройка модулей интерактивных элементов
            ul.price-table__inner-list
              li
                a(target="blank" href="https://demo.themeisle.com/zerif-pro/").underlined параллакс
                span  - от 500 руб.
              li
                a(target="blank" href="http://idangero.us/swiper/demos/").underlined слайдер
                span  - +300 руб.
              li
                a(target="blank" href="http://beloweb.ru/demo/modalwin/").underlined всплывающие, модальные окна
                span  - +300 руб.
              li
                a(target="blank" href="https://ruseller.com/lessons/les1814/demo/demos/images.html").underlined карусель, фотогалерея
                span  - +300 руб.
        ul.price-table__list
          li -- Базовая SEO-оптимизация (настройка видимости в поисковиках) + Настройка метрики
            div
              span - 1500 руб.
        hr
        p Сроки выполнения проекта зависят от конкретного проекта, верстка главной страницы - не более 2 дней.
        p Весь контент должен быть заранее подготовлен и предоставлен для размещения на сайте.

      .price-table__block
        p Подходит для корпоративных сайтов, сайтов-блогов, новостых сайтов, интернет-магазинов. Представляет из себя "Услугу верстки сайта" с панелью администратора для управления и пополнения контентом.
        ul.price-table__complex-list Включается в стоимость:
          li Подготовка технического задания
          li Подготовка профессиональных текстов с целью дальнейшего продвижения
          li Подготовка макета дизайна - все взаимодействия с дизайнером, предоставление ТЗ, контроль выполнения работы
          li Адаптивная, кроссбрауерная верстка страниц сайта
          li Программирование интерактивных элементов, скриптов и форм
          br
          li Полная стоимость засисит от объема работ и составляет 
            span(style="font-size: 18px") от 25000 руб.
          br
        p Сроки выполнения проекта - после оценки объема и сложности
        p Базовая SEO-оптимизация + Настройка метрики в подарок!!!


      .price-table__block
        ul.price-table__dop-list
          li исправление ошибок верстки сайтов, доведение до "ума"
          li исправление ошибок скриптов (javaScript) если что-то не работает
          li разворачивание виртуального сервера VPS/VDS, подходит для сложных сайтов, в том числе на nodejs
          li разработка одностраничных сайтов (SPA), веб-приложений (PWA) на фреймворке React(+Redux)
          li размещение сайта на бесплатном хостинге - в такие средах как github, firebase, heroku
          

