section.section.start#startPage
	ol.start__list
		li отправить первичную заявку на почту (раздел Заказать)
		li неспеша обдумайте следующие вопросы, накидайте план для обсуждения
			ul.start__quiz
				li - Какова цель сайта? Какие преимущества он даст.
				li - Какую информацию на нем планирется разместить, какой нужен будет функционал? Какие разделы.
				li - Тщательно изучите сайты конкурентов. Посмотрите, что на них размещено, какие использованы приемы, позволяющие зацепить клиента. Отметьте интересные фишки, которые хотелось бы также иметь. На сонове этого дополните второй пункт.
				li - Нужны ли будут профессиональные тексты, для чего потребуется дополнительно привлечь копирайтера. +$$. Либо вы сами предоставите тексты.
				li - У вас есть готовые фотографии бизнеса, либо потребуется заранее их сделать?
				li - Подумайте, какой вы хотели бы взять дизайн? Готовы ли вы заплатить за услуги дизайнера? Либо у вас уже есть макет? Если нет - в процессе обсуждения я предложу бесплатные варианты.
				li - Как срочно вам нужен сайт? 
				li - Нужна ли система управления контентом (админка), что позволит самостоятельно наполнять контент
				li - нужна ли дальнейшая поддержка сайта с целью расширения фнкциональности
				li - нужно ли продвижение сайта в интернете. +$$ на SEO-специалиста
		li переговоры для обсуждения подробной картины проекта, согласование объема работ.
		li получить окончательное коммерческое предложение с ценой и сроками.
		li заключение договора и предоплата 30%, с этого момента начнется разработка
		p Далее процесс будет следующим
		li для сложных проектов  - совместное формирование и утверждение технического задания
		li прием работы, внесение правок
		li расчет оставшихся средств, перенос сайта на хостинг, при наличии панели администратора - обучение пользованию
	