section.section.tech#tech
  .tech__desc.tech__desc--left
    p В настоящий момент актуальность создания сайта не вызывает сомнения. Все больше компаний и предпринимателей cтремятся расширить свое присутствие в глобальной сети, охватить возрастающую интернет-аудиторию потенциальных клиентов
  .tech__desc.tech__desc--right
    p Верстка происходит с применением современных технологий, позволяющих значительно ускорить процесс выполнения, и использовать возможности программирования на полную мощность

  mixin Brand(name, posx, posy)
    .tech__code(style=`left: ${posx}; top: ${posy}; z-index: 1;`)
      svg(width='120px' height='120px')
        use(xlink:href=`images/SVG.svg#${name}`)

  +Brand('ajax', '10%', '20%')
  +Brand('css3', '30%', '20%')
  +Brand('html5', '20%', '80%')
  +Brand('jquery', '65%', '45%')
  +Brand('js', '70%', '15%')
  +Brand('php', '80%', '80%')
  +Brand('gulp', '50%', '75%')
  +Brand('sass', '5%', '70%')
